@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: "Ubuntu", serif; */
  font-family: "Exo 2", serif;
  background: #fbfbfb;
}

.banner {
  background: linear-gradient(to bottom, rgb(7, 47, 0), rgba(0, 0, 0, 0.354)),
    url("../src//assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#dark {
  background-color: #0b0717;
  color: #e7f6f2;
}
#light {
}

#dark .banner2 {
  background: #18122b;
  background: linear-gradient(to bottom, rgb(5, 32, 0), rgba(0, 0, 0, 0.606)),
    url("../src//assets/bg.jpg");
}

#dark .sta {
  color: #e7f6f2e3;
  background: #101d2b;
}
#dark .language {
  color: #e7f6f2e3;
  background: #101d2b;
  border: none;
}
#dark .hist {
  color: #e7f6f2e3;
  background: #101d2b;
  border: none;
}
#dark .feedback {
  color: #e7f6f2e3;
  background: #101d2b;
  border: none;
}

.foo {
  background: linear-gradient(to bottom, rgb(4, 23, 1), rgba(0, 0, 0, 0.746)),
    url("../src//assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#dark input {
  color: #e7f6f2e3;
  background: #2d243b;
  border: none;
}
#dark textarea {
  color: #e7f6f2e3;
  background: #2d243b;
  border: none;
}
#dark .form {
  color: #e7f6f2e3;
  background: #3f2e3e;
  border: none;
}
#dark .login {
  color: #e7f6f2e3;
  background: #3f2e3e;
  border: none;
}

a.active {
}

.tsaCard {
  background: linear-gradient(to bottom, rgb(4, 23, 1), rgba(0, 0, 0, 0.746)),
    url("../src//assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(255, 255, 255, 0.86);
}
.langCard {
  background: linear-gradient(to right, #e4eaec, #e5e1dacc);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.his {
  background: linear-gradient(to right, #fbfbfb, #e5e1dacc);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#light .feedCard {
  background: linear-gradient(to right, #f8f6e3, #e5e1dacc);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.feedCardw {
  background: linear-gradient(to left, #f8f6e3, #e5e1dacc);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.feedCardww {
  background: linear-gradient(to left, #e6fffd8e, #e5e1da92);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.deta {
  background: #439A97;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#dark .detailCard {
  background: #100810;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
