@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: "Ubuntu", serif; */
  font-family: "Exo 2", serif;
  background: #fbfbfb;
  background: #F5F5F5;
}

#light .banner {
  /* background: linear-gradient(to bottom, rgb(7, 47, 0), rgba(0, 0, 0, 0.354)),
    url("../src//assets/bg.jpg"); */
  background: linear-gradient(to bottom, #254336, #4b5945ce),
    url("../src//assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #EDEAE0;

}
#light  .navbar2 {
  /* background: #439a97e6; */
  background: #254336   ;
  border: 2px solid #254336 ;
  box-shadow: 2px 2px 2px #254336;
  color: #EEEEEE;
  color: #DAD3BE;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#dark {
  background-color: #0b0717;
  color: #e7f6f2;
  color: #DAD3BE;

}
#light {
}

/* #dark .banner2 {
  background: #18122b;
  background: linear-gradient(to bottom, rgb(5, 32, 0), rgba(0, 0, 0, 0.606)),
    url("../src//assets/bg.jpg");
} */

#dark .sta {
  color: #e7f6f2e3;
  background: #101d2b;
}
#dark .language {
  color: #e7f6f2e3;
  background: #101d2b;
  border: none;
}
#dark .hist {
  color: #e7f6f2e3;
  background: #101d2b;
  border: none;
}
#dark .feedback {
  color: #e7f6f2e3;
  background: #101d2b;
  border: none;
}

.foo {
  background: linear-gradient(to bottom, rgb(4, 23, 1), rgba(0, 0, 0, 0.746)),
    url("../src//assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  

}

#dark input {
  color: #e7f6f2e3;
  background: #2d243b;
  border: none;
}
#dark textarea {
  color: #e7f6f2e3;
  background: #2d243b;
  border: none;
}
#dark .form {
  color: #e7f6f2e3;
  background: #3f2e3e;
  border: none;
}
#dark .login {
  color: #e7f6f2e3;
  background: #3f2e3e;
  border: none;
}

a.active {
}

.tsaCard {
  background: linear-gradient(to left, #042c1bd4, #052e1ccf),
    url("../src//assets/books-7838952_1280.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #EDEAE0;
  box-shadow: 2px 12px 11px 2px #022c16;
  

}
.langCard {
  background: #6B8A7A;
  background: #254336;
  color: #EDEAE0;
  /* border: 2px solid #439a97e6; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 12px 11px 2px #6B8A7A;

}

.langCard:hover{
  background: #6B8A7A;

  box-shadow: 2px 12px 11px 2px #254336;

}
.his {
  background: linear-gradient(to right, #6B8A7A, #6B8A7A);
  color: #EDEAE0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 12px 12px 11px 2px #254336;

}
#light .feedCard {
  background: linear-gradient(to right, #6B8A7A, #6B8A7A);
  
  color: #EDEAE0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.feedCardw {
  background: linear-gradient(to left, #254336, #254336);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.findTutor {
  background: linear-gradient(to left, #6B8A7A, #6B8A7A);
  background-position: center;
  color: #EDEAE0;
  box-shadow: 12px 12px 11px 2px #254336;

  background-repeat: no-repeat;
  background-size: cover;
}
#light .contact {
  background: linear-gradient(to right, #254336, #254336);
  
  color: #EDEAE0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#light .contact input, textarea{
  background: linear-gradient(to right, #B7B597, #B7B597);
  background: linear-gradient(to right, #6B8A7A, #6B8A7A);
  color: black;
  

}
#light .contact ::placeholder{
  color: rgb(240, 214, 214);
  

}
.deta {
  background: #439A97;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#dark .detailCard {
  background: #100810;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#light .addForm textarea{
  background: white;
}
#light .updateForm textarea{
  background: white;
}